<div class="banner">
  <div class="container">
    <h1>
      Welcome!
    </h1>
    <p>
      Our vision is to provide a smooth car buying and selling journey for everyone. Here, everything we
      do from product development to marketing & communications aims to empower our customers and give them greater
      confidence when it comes to trading cars – regardless of how much they know about cars or how engaged they might
      be in the process.
    </p>
  </div>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-6 box-shadow">
      <div class="card-header">
        <h2 class="my-0 font-weight-normal">
          Sales
        </h2>
      </div>
      <div class="card-body">
        <p>
          Looking for a new Car!
          <br>
          <b>
            You are in the right place.
          </b>
        </p>
        <a [routerLink]="['/sales']" class="btn btn-lg btn-block btn-secondary">
          Get Started
        </a>
      </div>
    </div>
    <div class="card mb-6 box-shadow">
      <div class="card-header">
        <h2 class="my-0 font-weight-normal">
          Ads
        </h2>
      </div>
      <div class="card-body">
        <p>
          Do you want to sell your vehicle?
          <br>
          <b>
            We can help you.
          </b>
        </p>
        <button type="button" class="btn btn-lg btn-block btn-secondary">
          Get started
        </button>
      </div>
    </div>
  </div>
</div>
