<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="info" fileName="logs/info-${shortdate}.log"
            layout="${longdate}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="error" fileName="logs/error-${shortdate}.log"
            layout="${longdate}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Sales.*" minlevel="Info" writeTo="info" />
    <logger name="Sales.*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>