nav {
  border-top: 7px solid #0073ba;
}

h1 {
  font-size: 1.7rem;
  padding-top: 10px;
}

h2 {
  font-size: 1.4rem;
}

.banner {
  padding: 2rem;
  background-color: #e9ecef;
  margin-bottom: 1.5rem;
}

.required {
  &:after {
    content: ' *';
    color: var(--red);
  }
}
