.top-nav-bar {
  border-top: 7px solid #0073ba;
}

.banner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
  border-bottom: solid 1px rgba(147, 147, 148, 0.164);

}
.title{
  font-size: 18px;
  color:rgb(153, 158, 158);
  margin:10px;
}

.nav-logo {
  background-image: url(assets/images/carsales.png);

}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}


.required {
  &:after {
    content: ' *';
    color: var(--red);
  }
}

